# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm files
.idea/

# Virtual environment
venv/

# Tree sitter libs
evaluator/vendor/